* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol,ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,th,td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle
}

q,blockquote {
    quotes: none
}

q:before,q:after,blockquote:before,blockquote:after {
    content: "";
    content: none
}

a img {
    border: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

html,body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: MicrosoftYaHei,'微软雅黑',STHeitiSC;
    font-size: 100%;
    background: #fff
}

#loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../../images/loading-bg.jpg) no-repeat 0 0;
    background-size: 100% 100%
}

#loading .inner {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 640px;
    height: 1008px;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0
}

#loading .light0 {
    position: absolute;
    display: inline-block;
    left: 209px;
    top: 430px;
    background: url(../../images/../images/loading-s94108564a4.png) 0 0 no-repeat;
    width: 142px;
    height: 58px
}

#loading .light1 {
    position: absolute;
    display: inline-block;
    left: 329px;
    top: 392px;
    background: url(../../images/../images/loading-s94108564a4.png) 0 0 no-repeat;
    width: 142px;
    height: 58px
}

#loading .percent {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 513px;
    width: 640px;
    height: 20px;
    text-align: center;
    font-size: 24px;
    color: #F0F0F0;
    font-family: "Microsoft YaHei"
}

#loading1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

#loading1 .inner {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 640px;
    height: 1008px;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0
}

#loading1 .logo {
    position: absolute;
    display: inline-block;
    left: 184px;
    top: 293px;
    background: url(../../images/../images/loading-s94108564a4.png) 0 -118px no-repeat;
    width: 271px;
    height: 190px
}

.hide {
    display: none!important
}

#game {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

#section2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none
}

#section2 .inner {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 640px;
    height: 1008px;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0
}

#section2 .tip1 {
    position: absolute;
    display: inline-block;
    left: 186px;
    top: 57px;
    background: url(../../images/../images/section2-s0b2e4b7ee7.png) 0 -1105px no-repeat;
    width: 275px;
    height: 267px
}

#section2 .tip2 {
    position: absolute;
    display: inline-block;
    left: 192px;
    top: 89px;
    background: url(../../images/../images/section2-s0b2e4b7ee7.png) 0 -448px no-repeat;
    width: 255px;
    height: 219px
}

#section2 .tip3 {
    position: absolute;
    display: inline-block;
    left: 151px;
    top: 89px;
    background: url(../../images/../images/section2-s0b2e4b7ee7.png) 0 -229px no-repeat;
    width: 338px;
    height: 219px
}

#section2 .tip4 {
    position: absolute;
    display: inline-block;
    left: 204px;
    top: 89px;
    background: url(../../images/../images/section2-s0b2e4b7ee7.png) 0 -886px no-repeat;
    width: 232px;
    height: 219px
}

#section2 .tip5 {
    position: absolute;
    display: inline-block;
    left: 192px;
    top: 104px;
    background: url(../../images/../images/section2-s0b2e4b7ee7.png) 0 -32px no-repeat;
    width: 301px;
    height: 75px
}

#section2 .tip6 {
    position: absolute;
    display: inline-block;
    left: 204px;
    top: 94px;
    background: url(../../images/../images/section2-s0b2e4b7ee7.png) 0 -107px no-repeat;
    width: 232px;
    height: 122px
}

#section2 .tip7 {
    position: absolute;
    display: inline-block;
    left: 204px;
    top: 89px;
    background: url(../../images/../images/section2-s0b2e4b7ee7.png) 0 -667px no-repeat;
    width: 253px;
    height: 219px
}

#section2 .arrow-tip {
    position: absolute;
    display: inline-block;
    left: 222px;
    top: 769px;
    background: url(../../images/../images/section2-s0b2e4b7ee7.png) 0 0 no-repeat;
    width: 199px;
    height: 32px
}

#section2 .arrow {
    position: absolute;
    display: inline-block;
    left: 300px;
    top: 825px;
    background: url(../../images/../images/section2-s0b2e4b7ee7.png) -232px -107px no-repeat;
    width: 40px;
    height: 19px
}

#section3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../../images/bj.jpg) no-repeat 0 0;
    background-size: 100% 100%
}

#section3 .content {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 640px;
    height: 1008px;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0
}

#section3 .content .stars0 {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 227px;
    background: url(../../images/../images/section3-s8976cb8efe.png) 0 -1873px no-repeat;
    width: 640px;
    height: 613px
}

#section3 .content .star1 {
    position: absolute;
    display: inline-block;
    left: 219px;
    top: 227px;
    background: url(../../images/../images/section3-s8976cb8efe.png) -161px -1755px no-repeat;
    width: 49px;
    height: 77px
}

#section3 .content .star2 {
    position: absolute;
    display: inline-block;
    left: 216px;
    top: 487px;
    background: url(../../images/../images/section3-s8976cb8efe.png) 0 -1755px no-repeat;
    width: 52px;
    height: 49px
}

#section3 .content .star3 {
    position: absolute;
    display: inline-block;
    left: 113px;
    top: 523px;
    background: url(../../images/../images/section3-s8976cb8efe.png) -512px -1385px no-repeat;
    width: 39px;
    height: 33px
}

#section3 .content .star4 {
    position: absolute;
    display: inline-block;
    left: 48px;
    top: 220px;
    background: url(../../images/../images/section3-s8976cb8efe.png) 0 0 no-repeat;
    width: 189px;
    height: 420px
}

#section3 .content .star5 {
    position: absolute;
    display: inline-block;
    left: 478px;
    top: 385px;
    background: url(../../images/../images/section3-s8976cb8efe.png) -551px -1385px no-repeat;
    width: 44px;
    height: 39px
}

#section3 .content .star6 {
    position: absolute;
    display: inline-block;
    left: 361px;
    top: 437px;
    background: url(../../images/../images/section3-s8976cb8efe.png) -104px -1755px no-repeat;
    width: 57px;
    height: 70px
}

#section3 .content .star7 {
    position: absolute;
    display: inline-block;
    left: 495px;
    top: 490px;
    background: url(../../images/../images/section3-s8976cb8efe.png) -401px -1755px no-repeat;
    width: 90px;
    height: 118px
}

#section3 .content .star8 {
    position: absolute;
    display: inline-block;
    left: 363px;
    top: 274px;
    background: url(../../images/../images/section3-s8976cb8efe.png) -189px 0 no-repeat;
    width: 251px;
    height: 492px
}

#section3 .content .star9 {
    position: absolute;
    display: inline-block;
    left: 2px;
    top: 639px;
    background: url(../../images/../images/section3-s8976cb8efe.png) 0 -1054px no-repeat;
    width: 605px;
    height: 331px
}

#section3 .content .star10 {
    position: absolute;
    display: inline-block;
    left: 226px;
    top: 55px;
    background: url(../../images/../images/section3-s8976cb8efe.png) -52px -1755px no-repeat;
    width: 52px;
    height: 53px
}

#section3 .content .star11 {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 55px;
    background: url(../../images/../images/section3-s8976cb8efe.png) 0 -731px no-repeat;
    width: 628px;
    height: 323px
}

#section3 .content .star12 {
    position: absolute;
    display: inline-block;
    left: 128px;
    top: 625px;
    background: url(../../images/../images/section3-s8976cb8efe.png) 0 -1385px no-repeat;
    width: 512px;
    height: 370px
}

#section3 .content .star13 {
    position: absolute;
    display: inline-block;
    left: 2px;
    top: 327px;
    background: url(../../images/../images/section3-s8976cb8efe.png) -210px -1755px no-repeat;
    width: 113px;
    height: 95px
}

#section3 .content .star14 {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    background: url(../../images/../images/section3-s8976cb8efe.png) 0 -492px no-repeat;
    width: 640px;
    height: 239px
}

#section1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../../images/jw-bg.jpg) no-repeat 0 0;
    background-size: 100% 100%
}

#section1 .inner1 .theme {
    position: absolute;
    display: inline-block;
    left: 139px;
    top: 13px;
    background: url(../../images/../images/section1-s28ccaa875f.png) 0 -393px no-repeat;
    width: 338px;
    height: 487px
}

#section1 .inner1 .arrow-left {
    position: absolute;
    display: inline-block;
    left: 20px;
    top: 759px;
    background: url(../../images/../images/section1-s28ccaa875f.png) -17px 0 no-repeat;
    width: 17px;
    height: 38px
}

#section1 .inner1 .arrow-right {
    position: absolute;
    display: inline-block;
    left: 604px;
    top: 759px;
    background: url(../../images/../images/section1-s28ccaa875f.png) 0 0 no-repeat;
    width: 17px;
    height: 38px
}

#section1 .inner1 .title1 {
    position: absolute;
    display: inline-block;
    left: 141px;
    top: 460px;
    background: url(../../images/../images/section1-s28ccaa875f.png) 0 -148px no-repeat;
    width: 246px;
    height: 116px
}

#section1 .inner1 .title2 {
    position: absolute;
    display: inline-block;
    left: 237px;
    top: 553px;
    background: url(../../images/../images/section1-s28ccaa875f.png) 0 -264px no-repeat;
    width: 268px;
    height: 129px
}

#section1 .inner1 .tip {
    position: absolute;
    display: inline-block;
    left: 183px;
    top: 856px;
    background: url(../../images/../images/section1-s28ccaa875f.png) 0 -60px no-repeat;
    width: 274px;
    height: 28px
}

#section1 .inner1 .detail {
    position: absolute;
    display: inline-block;
    left: 239px;
    top: 690px;
    background: url(../../images/../images/section1-s28ccaa875f.png) 0 -88px no-repeat;
    width: 138px;
    height: 14px
}

#section1 .inner1 .head {
    position: absolute;
    display: inline-block;
    left: 55px;
    top: 732px;
    width: 533px;
    height: 93px;
    overflow: hidden
}

#section1 .inner1 .head .container {
    position: relative;
    width: 3000px;
    height: 93px;
    left: 0;
    top: 0
}

#section1 .inner1 .head .item {
    float: left;
    width: 93px;
    height: 93px;
    background: url(../../resource/images/head-bg.png) no-repeat center center;
    border-radius: 47px;
    overflow: hidden;
    margin-right: 16px
}

#section1 .inner1 .head .item .header {
    background-color: #fff;
    width: 82px;
    height: 82px;
    margin-left: 6px;
    margin-top: 6px;
    outline: 0;
    border-radius: 41px;
    overflow: hidden
}

#section1 .inner1 .head .item .header img {
    width: 100%;
    height: 100%
}

#section1 .inner1 .btn-return {
    position: absolute;
    display: inline-block;
    left: 30px;
    top: 33px;
    background: url(../../images/../images/section1-s28ccaa875f.png) -34px 0 no-repeat;
    width: 57px;
    height: 52px
}

#section1 .inner1 .btn-info {
    position: absolute;
    display: inline-block;
    left: 342px;
    top: 907px;
    background: url(../../images/../images/section1-s28ccaa875f.png) -91px 0 no-repeat;
    width: 170px;
    height: 60px
}

#section1 .inner1 .btn-share {
    position: absolute;
    display: inline-block;
    left: 118px;
    top: 907px;
    background: url(../../images/../images/section1-s28ccaa875f.png) -138px -88px no-repeat;
    width: 170px;
    height: 60px
}

#section1 .inner {
    pointer-events: none
}

#section1 .inner,#section1 .inner1,#section1 .inner2 {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 640px;
    height: 1008px;
    transform-origin: left center;
    -webkit-transform-origin: left center;
    right: 0;
    bottom: 0;
    margin: auto
}

#section1 .detail-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #030303;
    opacity: .82
}

#section1 .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../../images/share-bg.jpg) no-repeat 0 0;
    background-size: 100% 100%
}

#section1 .logo {
    position: absolute;
    display: inline-block;
    left: 241px;
    top: 38px;
    background: url(../../images/../images/share-sf572aa8621.png) -295px -494px no-repeat;
    width: 157px;
    height: 109px
}

#section1 .content {
    position: absolute;
    display: inline-block;
    left: 118px;
    top: 251px;
    background: url(../../images/../images/share-sf572aa8621.png) -143px 0 no-repeat;
    width: 396px;
    height: 494px
}

#section1 .theme {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 751px;
    background: url(../../images/../images/share-sf572aa8621.png) 0 -603px no-repeat;
    width: 560px;
    height: 257px
}

#section1 .qrcode {
    position: absolute;
    display: inline-block;
    left: 467px;
    top: 792px;
    background: url(../../images/../images/share-sf572aa8621.png) 0 0 no-repeat;
    width: 143px;
    height: 192px
}

#section1 .mixure {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 200px;
    background: url(../../images/../images/detail-s17a6011d8d.png) 0 -122px no-repeat;
    width: 640px;
    height: 354px
}

#section1 .close {
    position: absolute;
    display: inline-block;
    left: 557px;
    top: 81px;
    background: url(../../images/../images/detail-s17a6011d8d.png) -89px 0 no-repeat;
    width: 42px;
    height: 42px
}

#section1 .head-container {
    position: absolute;
    display: inline-block;
    left: 159px;
    top: 215px;
    width: 322px;
    height: 322px;
    background-color: #fff;
    border-radius: 161px;
    overflow: hidden
}

#section1 .head-container img {
    width: 100%;
    height: 100%
}

#section1 .btn-music {
    position: absolute;
    display: inline-block;
    left: 258px;
    top: 720px;
    background: url(../../images/../images/detail-s17a6011d8d.png) -131px 0 no-repeat;
    width: 122px;
    height: 122px
}

#section1 .btn-music.on {
    position: absolute;
    display: inline-block;
    left: 258px;
    top: 720px;
    background: url(../../images/../images/detail-s17a6011d8d.png) -253px 0 no-repeat;
    width: 122px;
    height: 122px
}

#section1 .name {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 602px;
    width: 640px;
    height: 45px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-size: 36px
}

#section1 .butterfly1 {
    position: absolute;
    display: inline-block;
    left: 352px;
    top: 51px;
    background: url(../../images/../images/share-sf572aa8621.png) -163px -494px no-repeat;
    width: 61px;
    height: 54px;
    transform-origin: left top;
    -webkit-transform-origin: left top;
    -webkit-transform: scale(0.4384);
    -moz-transform: scale(0.4384);
    -ms-transform: scale(0.4384);
    -o-transform: scale(0.4384);
    transform: scale(0.4384);
    opacity: 0
}

#section1 .butterfly2 {
    position: absolute;
    display: inline-block;
    left: 332px;
    top: 54px;
    background: url(../../images/../images/share-sf572aa8621.png) -114px -494px no-repeat;
    width: 49px;
    height: 51px;
    transform-origin: left top;
    -webkit-transform-origin: left top;
    -webkit-transform: scale(0.4384);
    -moz-transform: scale(0.4384);
    -ms-transform: scale(0.4384);
    -o-transform: scale(0.4384);
    transform: scale(0.4384);
    opacity: 0
}

#section1 .butterfly3 {
    position: absolute;
    display: inline-block;
    left: 338px;
    top: 38px;
    background: url(../../images/../images/share-sf572aa8621.png) -224px -494px no-repeat;
    width: 71px;
    height: 73px;
    transform-origin: left top;
    -webkit-transform-origin: left top;
    -webkit-transform: scale(0.4384);
    -moz-transform: scale(0.4384);
    -ms-transform: scale(0.4384);
    -o-transform: scale(0.4384);
    transform: scale(0.4384);
    opacity: 0
}

#section5 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../../images/section5-bg.jpg) no-repeat 0 0;
    background-size: 100% 100%
}

#section5 .logo {
    position: absolute;
    display: inline-block;
    left: 241px;
    top: 38px;
    background: url(../../images/../images/section5-sccbe03fc4d.png) 0 0 no-repeat;
    width: 157px;
    height: 109px
}

#section5 .content {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 181px;
    background: url(../../images/../images/section5-sccbe03fc4d.png) 0 -109px no-repeat;
    width: 528px;
    height: 827px
}

#section5 .share-word {
    position: absolute;
    display: inline-block;
    left: 503px;
    top: 81px;
    background: url(../../images/../images/share-sf572aa8621.png) 0 -494px no-repeat;
    width: 114px;
    height: 44px
}

#section5 .butterfly1 {
    position: absolute;
    display: inline-block;
    left: 352px;
    top: 51px;
    background: url(../../images/../images/share-sf572aa8621.png) -163px -494px no-repeat;
    width: 61px;
    height: 54px;
    transform-origin: left top;
    -webkit-transform-origin: left top;
    -webkit-transform: scale(0.4384);
    -moz-transform: scale(0.4384);
    -ms-transform: scale(0.4384);
    -o-transform: scale(0.4384);
    transform: scale(0.4384);
    opacity: 0
}

#section5 .butterfly2 {
    position: absolute;
    display: inline-block;
    left: 332px;
    top: 54px;
    background: url(../../images/../images/share-sf572aa8621.png) -114px -494px no-repeat;
    width: 49px;
    height: 51px;
    transform-origin: left top;
    -webkit-transform-origin: left top;
    -webkit-transform: scale(0.4384);
    -moz-transform: scale(0.4384);
    -ms-transform: scale(0.4384);
    -o-transform: scale(0.4384);
    transform: scale(0.4384);
    opacity: 0
}

#section5 .butterfly3 {
    position: absolute;
    display: inline-block;
    left: 338px;
    top: 38px;
    background: url(../../images/../images/share-sf572aa8621.png) -224px -494px no-repeat;
    width: 71px;
    height: 73px;
    transform-origin: left top;
    -webkit-transform-origin: left top;
    -webkit-transform: scale(0.4384);
    -moz-transform: scale(0.4384);
    -ms-transform: scale(0.4384);
    -o-transform: scale(0.4384);
    transform: scale(0.4384);
    opacity: 0
}

#section5 .inner {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 640px;
    height: 1008px;
    transform-origin: left center;
    -webkit-transform-origin: left center;
    right: 0;
    bottom: 0;
    margin: auto
}

#section-top {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 640px;
    height: 1px;
    transform-origin: left center;
    -webkit-transform-origin: left center
}

.music {
    position: absolute;
    display: inline-block;
    left: 579px;
    top: 26px;
    background: url(../../images/../images/loading-s94108564a4.png) -176px -58px no-repeat;
    width: 48px;
    height: 48px
}

.music.off div {
    position: absolute;
    display: inline-block;
    left: 7px;
    top: 5px;
    background: url(../../images/../images/loading-s94108564a4.png) -142px -58px no-repeat;
    width: 34px;
    height: 37px
}

.butterfly1-amination {
    -webkit-animation: butterfly1-aminate 2s linear .3333s 1;
    -moz-animation: butterfly1-aminate 2s linear .3333s 1;
    -ms-animation: butterfly1-aminate 2s linear .3333s 1;
    -o-animation: butterfly1-aminate 2s linear .3333s 1;
    animation: butterfly1-aminate 2s linear .3333s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.butterfly2-amination {
    -webkit-animation: butterfly2-aminate 2s linear .6667s 1;
    -moz-animation: butterfly2-aminate 2s linear .6667s 1;
    -ms-animation: butterfly2-aminate 2s linear .6667s 1;
    -o-animation: butterfly2-aminate 2s linear .6667s 1;
    animation: butterfly2-aminate 2s linear .6667s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.butterfly3-amination {
    -webkit-animation: butterfly3-aminate 2s linear 1.3333s 1;
    -moz-animation: butterfly3-aminate 2s linear 1.3333s 1;
    -ms-animation: butterfly3-aminate 2s linear 1.3333s 1;
    -o-animation: butterfly3-aminate 2s linear 1.3333s 1;
    animation: butterfly3-aminate 2s linear 1.3333s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes butterfly1-aminate {
    0% {
        -webkit-transform: scale(0.4384) translate3d(0px,0,0);
        -moz-transform: scale(0.4384) translate3d(0px,0,0);
        -ms-transform: scale(0.4384) translate3d(0px,0,0);
        -o-transform: scale(0.4384) translate3d(0px,0,0);
        transform: scale(0.4384) translate3d(0px,0,0);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1) translate3d(202px,-13px,0);
        -moz-transform: scale(1) translate3d(202px,-13px,0);
        -ms-transform: scale(1) translate3d(202px,-13px,0);
        -o-transform: scale(1) translate3d(202px,-13px,0);
        transform: scale(1) translate3d(202px,-13px,0);
        opacity: 1
    }
}

@-moz-keyframes butterfly1-aminate {
    0% {
        -webkit-transform: scale(0.4384) translate3d(0px,0,0);
        -moz-transform: scale(0.4384) translate3d(0px,0,0);
        -ms-transform: scale(0.4384) translate3d(0px,0,0);
        -o-transform: scale(0.4384) translate3d(0px,0,0);
        transform: scale(0.4384) translate3d(0px,0,0);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1) translate3d(202px,-13px,0);
        -moz-transform: scale(1) translate3d(202px,-13px,0);
        -ms-transform: scale(1) translate3d(202px,-13px,0);
        -o-transform: scale(1) translate3d(202px,-13px,0);
        transform: scale(1) translate3d(202px,-13px,0);
        opacity: 1
    }
}

@-ms-keyframes butterfly1-aminate {
    0% {
        -webkit-transform: scale(0.4384) translate3d(0px,0,0);
        -moz-transform: scale(0.4384) translate3d(0px,0,0);
        -ms-transform: scale(0.4384) translate3d(0px,0,0);
        -o-transform: scale(0.4384) translate3d(0px,0,0);
        transform: scale(0.4384) translate3d(0px,0,0);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1) translate3d(202px,-13px,0);
        -moz-transform: scale(1) translate3d(202px,-13px,0);
        -ms-transform: scale(1) translate3d(202px,-13px,0);
        -o-transform: scale(1) translate3d(202px,-13px,0);
        transform: scale(1) translate3d(202px,-13px,0);
        opacity: 1
    }
}

@-o-keyframes butterfly1-aminate {
    0% {
        -webkit-transform: scale(0.4384) translate3d(0px,0,0);
        -moz-transform: scale(0.4384) translate3d(0px,0,0);
        -ms-transform: scale(0.4384) translate3d(0px,0,0);
        -o-transform: scale(0.4384) translate3d(0px,0,0);
        transform: scale(0.4384) translate3d(0px,0,0);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1) translate3d(202px,-13px,0);
        -moz-transform: scale(1) translate3d(202px,-13px,0);
        -ms-transform: scale(1) translate3d(202px,-13px,0);
        -o-transform: scale(1) translate3d(202px,-13px,0);
        transform: scale(1) translate3d(202px,-13px,0);
        opacity: 1
    }
}

@keyframes butterfly1-aminate {
    0% {
        -webkit-transform: scale(0.4384) translate3d(0px,0,0);
        -moz-transform: scale(0.4384) translate3d(0px,0,0);
        -ms-transform: scale(0.4384) translate3d(0px,0,0);
        -o-transform: scale(0.4384) translate3d(0px,0,0);
        transform: scale(0.4384) translate3d(0px,0,0);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1) translate3d(202px,-13px,0);
        -moz-transform: scale(1) translate3d(202px,-13px,0);
        -ms-transform: scale(1) translate3d(202px,-13px,0);
        -o-transform: scale(1) translate3d(202px,-13px,0);
        transform: scale(1) translate3d(202px,-13px,0);
        opacity: 1
    }
}

@-webkit-keyframes butterfly2-aminate {
    0% {
        -webkit-transform: scale(0.4384) translate3d(0px,0,0);
        -moz-transform: scale(0.4384) translate3d(0px,0,0);
        -ms-transform: scale(0.4384) translate3d(0px,0,0);
        -o-transform: scale(0.4384) translate3d(0px,0,0);
        transform: scale(0.4384) translate3d(0px,0,0);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1) translate3d(190px,-12px,0);
        -moz-transform: scale(1) translate3d(190px,-12px,0);
        -ms-transform: scale(1) translate3d(190px,-12px,0);
        -o-transform: scale(1) translate3d(190px,-12px,0);
        transform: scale(1) translate3d(190px,-12px,0);
        opacity: 1
    }
}

@-moz-keyframes butterfly2-aminate {
    0% {
        -webkit-transform: scale(0.4384) translate3d(0px,0,0);
        -moz-transform: scale(0.4384) translate3d(0px,0,0);
        -ms-transform: scale(0.4384) translate3d(0px,0,0);
        -o-transform: scale(0.4384) translate3d(0px,0,0);
        transform: scale(0.4384) translate3d(0px,0,0);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1) translate3d(190px,-12px,0);
        -moz-transform: scale(1) translate3d(190px,-12px,0);
        -ms-transform: scale(1) translate3d(190px,-12px,0);
        -o-transform: scale(1) translate3d(190px,-12px,0);
        transform: scale(1) translate3d(190px,-12px,0);
        opacity: 1
    }
}

@-ms-keyframes butterfly2-aminate {
    0% {
        -webkit-transform: scale(0.4384) translate3d(0px,0,0);
        -moz-transform: scale(0.4384) translate3d(0px,0,0);
        -ms-transform: scale(0.4384) translate3d(0px,0,0);
        -o-transform: scale(0.4384) translate3d(0px,0,0);
        transform: scale(0.4384) translate3d(0px,0,0);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1) translate3d(190px,-12px,0);
        -moz-transform: scale(1) translate3d(190px,-12px,0);
        -ms-transform: scale(1) translate3d(190px,-12px,0);
        -o-transform: scale(1) translate3d(190px,-12px,0);
        transform: scale(1) translate3d(190px,-12px,0);
        opacity: 1
    }
}

@-o-keyframes butterfly2-aminate {
    0% {
        -webkit-transform: scale(0.4384) translate3d(0px,0,0);
        -moz-transform: scale(0.4384) translate3d(0px,0,0);
        -ms-transform: scale(0.4384) translate3d(0px,0,0);
        -o-transform: scale(0.4384) translate3d(0px,0,0);
        transform: scale(0.4384) translate3d(0px,0,0);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1) translate3d(190px,-12px,0);
        -moz-transform: scale(1) translate3d(190px,-12px,0);
        -ms-transform: scale(1) translate3d(190px,-12px,0);
        -o-transform: scale(1) translate3d(190px,-12px,0);
        transform: scale(1) translate3d(190px,-12px,0);
        opacity: 1
    }
}

@keyframes butterfly2-aminate {
    0% {
        -webkit-transform: scale(0.4384) translate3d(0px,0,0);
        -moz-transform: scale(0.4384) translate3d(0px,0,0);
        -ms-transform: scale(0.4384) translate3d(0px,0,0);
        -o-transform: scale(0.4384) translate3d(0px,0,0);
        transform: scale(0.4384) translate3d(0px,0,0);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1) translate3d(190px,-12px,0);
        -moz-transform: scale(1) translate3d(190px,-12px,0);
        -ms-transform: scale(1) translate3d(190px,-12px,0);
        -o-transform: scale(1) translate3d(190px,-12px,0);
        transform: scale(1) translate3d(190px,-12px,0);
        opacity: 1
    }
}

@-webkit-keyframes butterfly3-aminate {
    0% {
        -webkit-transform: scale(0.4384) translate3d(0px,0,0);
        -moz-transform: scale(0.4384) translate3d(0px,0,0);
        -ms-transform: scale(0.4384) translate3d(0px,0,0);
        -o-transform: scale(0.4384) translate3d(0px,0,0);
        transform: scale(0.4384) translate3d(0px,0,0);
        opacity: 0
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1) translate3d(192px,-25px,0);
        -moz-transform: scale(1) translate3d(192px,-25px,0);
        -ms-transform: scale(1) translate3d(192px,-25px,0);
        -o-transform: scale(1) translate3d(192px,-25px,0);
        transform: scale(1) translate3d(192px,-25px,0)
    }
}

@-moz-keyframes butterfly3-aminate {
    0% {
        -webkit-transform: scale(0.4384) translate3d(0px,0,0);
        -moz-transform: scale(0.4384) translate3d(0px,0,0);
        -ms-transform: scale(0.4384) translate3d(0px,0,0);
        -o-transform: scale(0.4384) translate3d(0px,0,0);
        transform: scale(0.4384) translate3d(0px,0,0);
        opacity: 0
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1) translate3d(192px,-25px,0);
        -moz-transform: scale(1) translate3d(192px,-25px,0);
        -ms-transform: scale(1) translate3d(192px,-25px,0);
        -o-transform: scale(1) translate3d(192px,-25px,0);
        transform: scale(1) translate3d(192px,-25px,0)
    }
}

@-ms-keyframes butterfly3-aminate {
    0% {
        -webkit-transform: scale(0.4384) translate3d(0px,0,0);
        -moz-transform: scale(0.4384) translate3d(0px,0,0);
        -ms-transform: scale(0.4384) translate3d(0px,0,0);
        -o-transform: scale(0.4384) translate3d(0px,0,0);
        transform: scale(0.4384) translate3d(0px,0,0);
        opacity: 0
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1) translate3d(192px,-25px,0);
        -moz-transform: scale(1) translate3d(192px,-25px,0);
        -ms-transform: scale(1) translate3d(192px,-25px,0);
        -o-transform: scale(1) translate3d(192px,-25px,0);
        transform: scale(1) translate3d(192px,-25px,0)
    }
}

@-o-keyframes butterfly3-aminate {
    0% {
        -webkit-transform: scale(0.4384) translate3d(0px,0,0);
        -moz-transform: scale(0.4384) translate3d(0px,0,0);
        -ms-transform: scale(0.4384) translate3d(0px,0,0);
        -o-transform: scale(0.4384) translate3d(0px,0,0);
        transform: scale(0.4384) translate3d(0px,0,0);
        opacity: 0
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1) translate3d(192px,-25px,0);
        -moz-transform: scale(1) translate3d(192px,-25px,0);
        -ms-transform: scale(1) translate3d(192px,-25px,0);
        -o-transform: scale(1) translate3d(192px,-25px,0);
        transform: scale(1) translate3d(192px,-25px,0)
    }
}

@keyframes butterfly3-aminate {
    0% {
        -webkit-transform: scale(0.4384) translate3d(0px,0,0);
        -moz-transform: scale(0.4384) translate3d(0px,0,0);
        -ms-transform: scale(0.4384) translate3d(0px,0,0);
        -o-transform: scale(0.4384) translate3d(0px,0,0);
        transform: scale(0.4384) translate3d(0px,0,0);
        opacity: 0
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1) translate3d(192px,-25px,0);
        -moz-transform: scale(1) translate3d(192px,-25px,0);
        -ms-transform: scale(1) translate3d(192px,-25px,0);
        -o-transform: scale(1) translate3d(192px,-25px,0);
        transform: scale(1) translate3d(192px,-25px,0)
    }
}

@-webkit-keyframes logo-aminate {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(6);
        -moz-transform: scale(6);
        -ms-transform: scale(6);
        -o-transform: scale(6);
        transform: scale(6)
    }
}

@-moz-keyframes logo-aminate {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(6);
        -moz-transform: scale(6);
        -ms-transform: scale(6);
        -o-transform: scale(6);
        transform: scale(6)
    }
}

@-ms-keyframes logo-aminate {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(6);
        -moz-transform: scale(6);
        -ms-transform: scale(6);
        -o-transform: scale(6);
        transform: scale(6)
    }
}

@-o-keyframes logo-aminate {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(6);
        -moz-transform: scale(6);
        -ms-transform: scale(6);
        -o-transform: scale(6);
        transform: scale(6)
    }
}

@keyframes logo-aminate {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(6);
        -moz-transform: scale(6);
        -ms-transform: scale(6);
        -o-transform: scale(6);
        transform: scale(6)
    }
}

.logo-scale {
    -webkit-animation: logo-aminate 2.5s linear 0s 1;
    -moz-animation: logo-aminate 2.5s linear 0s 1;
    -ms-animation: logo-aminate 2.5s linear 0s 1;
    -o-animation: logo-aminate 2.5s linear 0s 1;
    animation: logo-aminate 2.5s linear 0s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    transform-origin: center center;
    -webkit-transform-origin: center center
}

.tip-scale {
    -webkit-animation: tip-aminate 2.5s linear 0s infinite;
    -moz-animation: tip-aminate 2.5s linear 0s infinite;
    -ms-animation: tip-aminate 2.5s linear 0s infinite;
    -o-animation: tip-aminate 2.5s linear 0s infinite;
    animation: tip-aminate 2.5s linear 0s infinite
}

@-webkit-keyframes tip-aminate {
    0%,100% {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9)
    }

    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@-moz-keyframes tip-aminate {
    0%,100% {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9)
    }

    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@-ms-keyframes tip-aminate {
    0%,100% {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9)
    }

    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@-o-keyframes tip-aminate {
    0%,100% {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9)
    }

    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes tip-aminate {
    0%,100% {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9)
    }

    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

.star-flash1 {
    -webkit-animation: star-aminate 2s linear 1s infinite;
    -moz-animation: star-aminate 2s linear 1s infinite;
    -ms-animation: star-aminate 2s linear 1s infinite;
    -o-animation: star-aminate 2s linear 1s infinite;
    animation: star-aminate 2s linear 1s infinite
}

.star-flash2 {
    -webkit-animation: star-aminate 2s linear .8s infinite;
    -moz-animation: star-aminate 2s linear .8s infinite;
    -ms-animation: star-aminate 2s linear .8s infinite;
    -o-animation: star-aminate 2s linear .8s infinite;
    animation: star-aminate 2s linear .8s infinite
}

.star-flash3 {
    -webkit-animation: star-aminate 2s linear 1.3s infinite;
    -moz-animation: star-aminate 2s linear 1.3s infinite;
    -ms-animation: star-aminate 2s linear 1.3s infinite;
    -o-animation: star-aminate 2s linear 1.3s infinite;
    animation: star-aminate 2s linear 1.3s infinite
}

.star-flash4 {
    -webkit-animation: star-aminate 2s linear 2s infinite;
    -moz-animation: star-aminate 2s linear 2s infinite;
    -ms-animation: star-aminate 2s linear 2s infinite;
    -o-animation: star-aminate 2s linear 2s infinite;
    animation: star-aminate 2s linear 2s infinite
}

.star-flash5 {
    -webkit-animation: star-aminate 2s linear 2.1s infinite;
    -moz-animation: star-aminate 2s linear 2.1s infinite;
    -ms-animation: star-aminate 2s linear 2.1s infinite;
    -o-animation: star-aminate 2s linear 2.1s infinite;
    animation: star-aminate 2s linear 2.1s infinite
}

.star-flash7 {
    -webkit-animation: star-aminate 2s linear 1.5s infinite;
    -moz-animation: star-aminate 2s linear 1.5s infinite;
    -ms-animation: star-aminate 2s linear 1.5s infinite;
    -o-animation: star-aminate 2s linear 1.5s infinite;
    animation: star-aminate 2s linear 1.5s infinite
}

.star-flash8 {
    -webkit-animation: star1-aminate 2s linear 1.7s infinite;
    -moz-animation: star1-aminate 2s linear 1.7s infinite;
    -ms-animation: star1-aminate 2s linear 1.7s infinite;
    -o-animation: star1-aminate 2s linear 1.7s infinite;
    animation: star1-aminate 2s linear 1.7s infinite
}

.star-flash9 {
    -webkit-animation: star1-aminate 2s linear 1.32s infinite;
    -moz-animation: star1-aminate 2s linear 1.32s infinite;
    -ms-animation: star1-aminate 2s linear 1.32s infinite;
    -o-animation: star1-aminate 2s linear 1.32s infinite;
    animation: star1-aminate 2s linear 1.32s infinite
}

.star-flash10 {
    -webkit-animation: star1-aminate 2s linear .3s infinite;
    -moz-animation: star1-aminate 2s linear .3s infinite;
    -ms-animation: star1-aminate 2s linear .3s infinite;
    -o-animation: star1-aminate 2s linear .3s infinite;
    animation: star1-aminate 2s linear .3s infinite
}

.star-flash11 {
    -webkit-animation: star1-aminate 2s linear 1.9s infinite;
    -moz-animation: star1-aminate 2s linear 1.9s infinite;
    -ms-animation: star1-aminate 2s linear 1.9s infinite;
    -o-animation: star1-aminate 2s linear 1.9s infinite;
    animation: star1-aminate 2s linear 1.9s infinite
}

.arrow-move-amination {
    -webkit-animation: arrow-move-aminate 3s linear 0s infinite;
    -moz-animation: arrow-move-aminate 3s linear 0s infinite;
    -ms-animation: arrow-move-aminate 3s linear 0s infinite;
    -o-animation: arrow-move-aminate 3s linear 0s infinite;
    animation: arrow-move-aminate 3s linear 0s infinite
}

@-webkit-keyframes star-aminate {
    0%,100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
        opacity: .2
    }
}

@-moz-keyframes star-aminate {
    0%,100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
        opacity: .2
    }
}

@-ms-keyframes star-aminate {
    0%,100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
        opacity: .2
    }
}

@-o-keyframes star-aminate {
    0%,100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
        opacity: .2
    }
}

@keyframes star-aminate {
    0%,100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
        opacity: .2
    }
}

@-webkit-keyframes star1-aminate {
    0%,100% {
        opacity: 1
    }

    50% {
        opacity: .2
    }
}

@-moz-keyframes star1-aminate {
    0%,100% {
        opacity: 1
    }

    50% {
        opacity: .2
    }
}

@-ms-keyframes star1-aminate {
    0%,100% {
        opacity: 1
    }

    50% {
        opacity: .2
    }
}

@-o-keyframes star1-aminate {
    0%,100% {
        opacity: 1
    }

    50% {
        opacity: .2
    }
}

@keyframes star1-aminate {
    0%,100% {
        opacity: 1
    }

    50% {
        opacity: .2
    }
}

@-webkit-keyframes arrow-move-aminate {
    0%,90% {
        -webkit-transform: translate3d(0px,0,0);
        -moz-transform: translate3d(0px,0,0);
        -ms-transform: translate3d(0px,0,0);
        -o-transform: translate3d(0px,0,0);
        transform: translate3d(0px,0,0)
    }

    45% {
        -webkit-transform: translate3d(0px,30px,0);
        -moz-transform: translate3d(0px,30px,0);
        -ms-transform: translate3d(0px,30px,0);
        -o-transform: translate3d(0px,30px,0);
        transform: translate3d(0px,30px,0)
    }
}

@-moz-keyframes arrow-move-aminate {
    0%,90% {
        -webkit-transform: translate3d(0px,0,0);
        -moz-transform: translate3d(0px,0,0);
        -ms-transform: translate3d(0px,0,0);
        -o-transform: translate3d(0px,0,0);
        transform: translate3d(0px,0,0)
    }

    45% {
        -webkit-transform: translate3d(0px,30px,0);
        -moz-transform: translate3d(0px,30px,0);
        -ms-transform: translate3d(0px,30px,0);
        -o-transform: translate3d(0px,30px,0);
        transform: translate3d(0px,30px,0)
    }
}

@-ms-keyframes arrow-move-aminate {
    0%,90% {
        -webkit-transform: translate3d(0px,0,0);
        -moz-transform: translate3d(0px,0,0);
        -ms-transform: translate3d(0px,0,0);
        -o-transform: translate3d(0px,0,0);
        transform: translate3d(0px,0,0)
    }

    45% {
        -webkit-transform: translate3d(0px,30px,0);
        -moz-transform: translate3d(0px,30px,0);
        -ms-transform: translate3d(0px,30px,0);
        -o-transform: translate3d(0px,30px,0);
        transform: translate3d(0px,30px,0)
    }
}

@-o-keyframes arrow-move-aminate {
    0%,90% {
        -webkit-transform: translate3d(0px,0,0);
        -moz-transform: translate3d(0px,0,0);
        -ms-transform: translate3d(0px,0,0);
        -o-transform: translate3d(0px,0,0);
        transform: translate3d(0px,0,0)
    }

    45% {
        -webkit-transform: translate3d(0px,30px,0);
        -moz-transform: translate3d(0px,30px,0);
        -ms-transform: translate3d(0px,30px,0);
        -o-transform: translate3d(0px,30px,0);
        transform: translate3d(0px,30px,0)
    }
}

@keyframes arrow-move-aminate {
    0%,90% {
        -webkit-transform: translate3d(0px,0,0);
        -moz-transform: translate3d(0px,0,0);
        -ms-transform: translate3d(0px,0,0);
        -o-transform: translate3d(0px,0,0);
        transform: translate3d(0px,0,0)
    }

    45% {
        -webkit-transform: translate3d(0px,30px,0);
        -moz-transform: translate3d(0px,30px,0);
        -ms-transform: translate3d(0px,30px,0);
        -o-transform: translate3d(0px,30px,0);
        transform: translate3d(0px,30px,0)
    }
}
